@font-face {
  font-family: VR;
  src: url(../fonts/VR.eot), url(../fonts/VR.ttf), url(../fonts/VR.woff),
    url(../fonts/VR.woff2);
}

@font-face {
  font-family: VM;
  src: url(../fonts/VM.eot), url(../fonts/VM.ttf), url(../fonts/VM.woff),
    url(../fonts/VM.woff2);
}

@font-face {
  font-family: MGZ;
  src: url(../fonts/Mj_Zoheir_0.ttf);
}
@font-face {
  font-family: Y;
  src: url(../fonts/Yekan.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dbe2ef;
  height: 300vh;
}

.all-intro {
  background-image: url(../images/13.jpg);
  background-size: cover;
}

.navbar {
  border-radius: 4px;
}

.navbar-nav {
  font-family: VR;
}

.navbar-brand img {
  width: 50px;
}

.my-item-menu {
  width: max-content;
}

.my-item-menu:hover {
  background-color: rgb(241, 241, 241);
  color: #17a2b8;
  border-radius: 4px;
}

.navbar-light .navbar-nav .nav-link {
  color: #3f72af;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3f72af;
}

.my-logo a h3 {
  color: #3f72af;
}

.my-logo a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.my-header {
  height: 100vh;
  padding-top: 100px;
}

.my-text-header h1 {
  font-family: mgz;
}

.my-text-header h4 {
  font-family: Y;
}

.my-text-header p {
  color: #112d4e;
  font-family: VR;
}

.my-text-header button {
  font-family: VR;
}

.my-text-header div button {
  color: #3f72af;
  background-color: #dbe2ef;
}

.my-text-header div .ml-1 {
  color: #dbe2ef;
  background-color: #3f72af;
}

.w3t {
  position: relative;
  top: -400px;
  left: 30px;
  z-index: 1;
}

.w3t {
  z-index: 300;
}

.my-text-header h1 {
  font-size: 60px;
}

.img-header img {
  position: relative;
  top: -10px;
}

@media screen and (min-width: 720px) {
  .my-text-header {
    padding-right: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .my-text-header {
    padding-right: 200px;
  }
}

.carousel-caption h3,
.carousel-caption p {
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  color: rgb(255, 255, 255);
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0em;
  margin-right: 0.3em;
  vertical-align: 0em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0px;
  margin: 0.125rem 0px 0px;
  font-size: 1rem;
  color: rgb(33, 37, 41);
  text-align: left;
  list-style: none;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
