@font-face {
  font-family: VR;
  src: url(../fonts/VR.eot), url(../fonts/VR.ttf), url(../fonts/VR.woff),
    url(../fonts/VR.woff2);
}

@font-face {
  font-family: VM;
  src: url(../fonts/VM.woff2), url(../fonts/VM.woff), url(../fonts/VM.ttf),
    url(../fonts/VM.eot);
}

body {
  background-color: rgb(248, 248, 248);
  height: 2000px;
}

nav {
  font-family: VM;
  padding: 0;
}

.navbar-brand img {
  width: 80px;
}

li {
  list-style: none;
}

.my-dropdown1 {
  position: absolute;
  margin-top: 9px;
  display: none;
  background-color: rgb(241, 241, 241);
}

.my-dropdown1 ul li a {
  color: rgba(0, 0, 0, 0.5);
}

.my-dropdown2 {
  width: 100%;
  margin-top: 15px;
}

nav ul li:hover > div {
  display: block;
}

nav ul li:hover > .my-dropdown2 {
  display: none;
}

nav ul li {
  cursor: pointer;
  transition: all 200ms;
  width: max-content;
}

.nav-item:hover {
  border-bottom: #3490de 5px solid;
}

.my-hover-1:hover {
  border-bottom: #ff2e63 5px solid;
}

.my-hover-2:hover {
  border-bottom: #1fab89 5px solid;
}

.my-hover-3:hover {
  border-bottom: #ffd460 5px solid;
}

.my-hover-4:hover {
  border-bottom: #6a2c70 5px solid;
}

.nav-item {
  border-bottom: white 5px solid;
}

.my-hover-1 {
  border-bottom: white 5px solid;
}

.my-hover-2 {
  border-bottom: white 5px solid;
}

.my-hover-3 {
  border-bottom: white 5px solid;
}

.my-hover-4 {
  border-bottom: white 5px solid;
}

.nav-item2:hover {
  border-bottom: #3490de 5px solid;
}

.my-hover2-1:hover {
  border-bottom: #ff2e63 5px solid;
}

.my-hover2-2:hover {
  border-bottom: #1fab89 5px solid;
}

.my-hover2-3:hover {
  border-bottom: #ffd460 5px solid;
}

.my-hover2-4:hover {
  border-bottom: #6a2c70 5px solid;
}

.nav-item2 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-1 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-2 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-3 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-4 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.nav-item:hover > .nav-link {
  color: #3490de;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3490de;
}

.my-dropdown1 ul {
  width: 100%;
}

.my-dropdown1 ul li {
  padding: 10px 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



@media screen and (min-width:768px) {
    .div-right{
    right: -200px;
}

nav ul li:hover > .my-dropdown2 {
  display: block;
}
}

@media screen and (max-width:950px){
  nav ul li a{
    font-size: 14px;
  }
  .navbar-brand img {
  width: 70px;
}
}