* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cbf1f5;
}

.navbar {
  border-radius: 4px;
}

.navbar-brand img {
  width: 50px;
}

nav .collapse ul li a {
  color: #11999e;
}

.navbar-toggler-icon {
  color: #11999e;
}