* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cbf1f5;
}

.all-intro {
  background-image: url(../images/13.jpg);
  background-size: cover;
}

.navbar {
  border-radius: 4px;
}

.navbar-brand img {
  width: 50px;
}

.my-item-menu {
  width: max-content;
}

.my-item-menu:hover {
  background-color: rgb(241, 241, 241);
  color: #17a2b8;
  border-radius: 4px;
}

.navbar-light .navbar-nav .nav-link {
  color: #17a2b8;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #17a2b8;
}

.my-logo a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.my-header {
  height: 100vh;
}

.my-text-header p {
  color: rgb(107, 107, 107);
}

.img-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
