@font-face {
  font-family: VR;
  src: url(../fonts/VR.eot), url(../fonts/VR.ttf), url(../fonts/VR.woff),
    url(../fonts/VR.woff2);
}

@font-face {
  font-family: VM;
  src: url(../fonts/VM.woff2), url(../fonts/VM.woff), url(../fonts/VM.ttf),
    url(../fonts/VM.eot);
}

body {
  background-color: #72b2e913;
  height: 4000px;
}

nav {
  font-family: VM;
  padding: 0;
}

.navbar-brand img {
  width: 80px;
}

li {
  list-style: none;
}

.my-dropdown1 {
  position: absolute;
  margin-top: 9px;
  display: none;
  background-color: rgb(241, 241, 241);
}

.my-dropdown1 ul li a {
  color: rgba(0, 0, 0, 0.5);
}

.my-dropdown2 {
  width: 100%;
  margin-top: 15px;
}

nav ul li:hover > div {
  display: block;
}

nav ul li:hover > .my-dropdown2 {
  display: none;
}

nav ul li {
  cursor: pointer;
  transition: all 200ms;
  width: max-content;
}

.nav-item:hover {
  border-bottom: #3490de 5px solid;
}

.my-hover-1:hover {
  border-bottom: #ff2e63 5px solid;
}

.my-hover-2:hover {
  border-bottom: #1fab89 5px solid;
}

.my-hover-3:hover {
  border-bottom: #ffd460 5px solid;
}

.my-hover-4:hover {
  border-bottom: #6a2c70 5px solid;
}

.nav-item {
  border-bottom: white 5px solid;
}

.my-hover-1 {
  border-bottom: white 5px solid;
}

.my-hover-2 {
  border-bottom: white 5px solid;
}

.my-hover-3 {
  border-bottom: white 5px solid;
}

.my-hover-4 {
  border-bottom: white 5px solid;
}

.nav-item2:hover {
  border-bottom: #3490de 5px solid;
}

.my-hover2-1:hover {
  border-bottom: #ff2e63 5px solid;
}

.my-hover2-2:hover {
  border-bottom: #1fab89 5px solid;
}

.my-hover2-3:hover {
  border-bottom: #ffd460 5px solid;
}

.my-hover2-4:hover {
  border-bottom: #6a2c70 5px solid;
}

.nav-item2 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-1 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-2 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-3 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.my-hover2-4 {
  border-bottom: rgb(241, 241, 241) 5px solid;
}

.nav-item:hover > .nav-link {
  color: #3490de;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3490de;
}

.my-dropdown1 ul {
  width: 100%;
}

.my-dropdown1 ul li {
  padding: 10px 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .div-right {
    right: -200px;
  }

  nav ul li:hover > .my-dropdown2 {
    display: block;
  }
}

@media screen and (max-width: 950px) {
  nav ul li a {
    font-size: 14px;
  }
  .navbar-brand img {
    width: 70px;
  }
}

.text-welcome {
  font-family: VM;
  width: 100%;
  padding-top: 50px;
  cursor: pointer;
}

.all-aqua-info {
  padding: 10px;
  margin-top: 80px;
}

.text-welcome h1 {
  color: #3490de;
  text-align: center;
}

.text-aqua-info {
  text-align: right;
  cursor: pointer;
  position: relative;
}

.text-aqua-info h4 {
  padding-bottom: 10px;
  width: max-content;
  overflow: hidden;
}

.text-aqua-info h4::after {
  content: "";
  width: 97px;
  height: 5px;
  background-color: #3490de;
  position: absolute;
  top: 35px;
  right: 16px;
  transition: all 400ms;
}
.text-aqua-info h4::before {
  content: "";
  width: 97px;
  height: 5px;
  background-color: #3490de;
  position: absolute;
  top: 35px;
  right: 112px;
  transition: all 400ms;
}

.text-aqua-info p {
  font-family: VR;
  margin-top: 40px;
}

.text-aqua-info:hover > h4::after {
  transform: rotate(180deg);
  /* height: 6px; */
}

.text-aqua-info:hover > h4::before {
  transform: rotate(-180deg);
  /* height: 6px; */
}

.img-aqua-info {
  display: flex;
  align-items: flex-end;
}

.text-aqua-info a {
  color: #3490de;
  font-size: 17px;
  transition: 300ms;
}

.text-aqua-info a:hover {
  color: #0026ff;
  font-size: 17px;
}

.img-aqua-info img {
  width: 100%;
  height: 300px;
  filter: opacity(90%);
  transition: 300ms;
  cursor: pointer;
  border: #348fde00 2px solid;
  border-radius: 7px;
}

.img-aqua-info img:hover {
  filter: opacity(100%);
  border-radius: 20px;
  border: #3490de 2px solid;
}

@media screen and (max-width: 991px) {
  .img-aqua-info img {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 420px) {
  .img-aqua-info img {
    width: 100%;
    height: 200px;
  }
}

.aqua-dolphin {
  border-radius: 10px;
  cursor: pointer;
  background-color: #ebf6ff;
}

.aqua-dolphin-back {
  background: rgb(255, 46, 99);
  background: linear-gradient(
    45deg,
    rgba(255, 46, 99, 1) 0%,
    rgba(52, 144, 222, 1) 20%,
    rgba(255, 46, 99, 1) 40%,
    rgba(52, 144, 222, 1) 60%,
    rgba(255, 46, 99, 1) 80%,
    rgba(52, 144, 222, 1) 100%
  );
  margin-bottom: 150px;
  margin-top: 100px;
  border-radius: 10px;
  padding: 10px 25px;
  
}

.aqua-dolphin div:nth-child(1) h3,
.aqua-dolphin div:nth-child(4) h3 {
  color: #3490de;
  font-family: VM;
}

.aqua-dolphin div:nth-child(1) p,
.aqua-dolphin div:nth-child(4) p {
  color: black;
  font-family: VR;
  font-size: 16px;
}

.aqua-dolphin .my-hr {
  width: 100%;
  height: 3px;
  background-color: #3490de;
  border-radius: 100px;
}

.aqua-dolphin div img {
  border-radius: 10px;
  opacity: 90%;
  transition: 400ms;
  border: #348fde00 2px solid;
}

.aqua-dolphin div img:hover {
  opacity: 100%;
  border-radius: 20px;
  border: #348fde 2px solid;
}
